#NewUbuntuRelease {
    cursor: pointer;
    background-color: #e54827;
    border: #FFF;
    text-align: center;
    background-image: url("/engine/widgets/NewUbuntuRelease/images/Focal Fossa_white_RGB.svg");
    background-repeat: no-repeat;
    background-position: center;
    color: #F9F9F9;
    text-shadow: 1px 1px 1px #454545;
}

#NewUbuntuRelease .CountDown {
    border-bottom: 2px solid #F9F9F9;
    font-size: 25px;
    text-align: center;
    padding: 0px 0px 20px 0px;
    margin: 0px 0px 20px 0px;
}

#NewUbuntuRelease .UpcomingUbuntu {
    text-align: center;
}

#NewUbuntuRelease .ReleaseDate {

}